<!DOCTYPE html>
<html>
<head>
  <title>Library Portal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Library Portal</h1>
    <% if (user) { %>
      <p>Hello, <b><%= user.name %></b>! You logged in at <%= user.loginTime %>.</p>
      <a href="/profile">Go to Profile</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <p>You are not logged in.</p>
      <a href="/login">Login</a>
    <% } %>
  </div>
</body>
</html>
