<!DOCTYPE html>
<html>
<head>
  <title>Profile - Library Portal</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Profile Page</h1>
    <p><b>Name:</b> <%= user.name %></p>
    <p><b>Login Time:</b> <%= user.loginTime %></p>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>
