body {
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculator {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.display {
  background-color: #000;
  color: #fff;
  padding: 15px;
  font-size: 24px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.btn {
  flex: 1;
  padding: 18px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.1s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn.op {
  background-color: #e91e63;
  color: white;
}